body{
    background-image: url("https://wallpaperaccess.com/full/1773008.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}
.main{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main img{
    width: 300px;
    border-radius: 50%;


}
.main a{
    padding: 15px;
    margin-top: 20px;
    border-radius:50px ;
    background-color: white;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    transition: 0.5s;
}
.main a:hover{
    background-color: black;
    color: wheat;
}